#root {
  margin: 0 auto;
  padding: 0;

}

.main-tab{
  max-width: 1280px;
  align-content: center;
  display: block;
  align-items: center;
  margin: 4rem;
}

.tab-panel-style{
  font-size: 2rem;  
  color: #004FB4;
}